* {
  overflow-x: hidden;
}

main h6 {
  font-size: 12.5px;
  opacity: 0.6;
}

.sub {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

.fs-cell {
  width: 100%;
}

img {
  width: 100%;
  margin-bottom: 0%;
}

.na-bar a,
p {
  font-size: 12.5px;
}

main p {
  font-size: 13px;
}

.redheader,
.nws-btn {
  background-color: #f72210;
}

.main-t {
  font-size: 20px;
  margin-top: 0%;
  line-height: 10px;
}

.redheader p {
  font-size: 1.25vw;
}

.btn-login {
  font-size: 1.25vw;
}

.headerleft i {
  color: white;
  opacity: 0.7;
  font-size: 4vw;
}

.btn-subscribe {
  font-size: 2vw;
}

.na-bar {
  max-width: 992px;
  max-height: 50px;
}

.searchform input {
  font-size: 12.5px;
  width: 50px;
}

.copyright {
  font-size: 1.75vw;
}

.sociallinks a {
  font-size: 2.25vw;
}

.u-s {
  position: relative;
  bottom: 21px;
  background-color: rgb(255, 255, 255);
  width: 65px;
  opacity: 0.8;
  height: 17.5px;
  text-align: center;
  color: #f72210;
  font-size: 13px;
  margin-bottom: 0%;
}

.in-title {
  font-size: 20px;
  line-height: 20px;
  color: black;
  opacity: 1;
  font-weight: 900;
}

.insights-img {
  margin-bottom: 0%;
}

.insight-caption {
  position: relative;
  bottom: 21px;
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 17.5px;
  text-align: center;
  color: cornflowerblue;
  font-size: 13px;
  margin-bottom: 0%;
}

.ct-a {
  line-height: 10px;
}

.ct-img {
  margin-bottom: 0;
}

.ct-caption {
  position: relative;
  bottom: 12.5px;
  background-color: lightgrey;
  width: 50px;
  height: 13px;
  text-align: center;
  color: black;
  font-size: 8px;
  margin-bottom: 0;
}

.ms-img,
.ln-img,
.us-3-img {
  width: 25%;
  height: 90px;
  float: left;
}

.mss-title {
  color: #f72210;
}

.ms-a,
.ln-a,
.us-3-a {
  font-size: 15px;
  line-height: 15px;
  color: black;
}

.debate-img {
  width: 63px;
  height: 63px;
}

.icon-img {
  width: 40px;
  height: 40px;
}

form {
  background-color: rgba(245, 245, 245, 0.968);
}

.form-title {
  font-size: 15px;
}

.magazine-img {
  height: 250px;
}

.magazine-img-one {
  height: 320px;
}

.p-megazine {
  position: relative;
  bottom: 35px;
  opacity: 0.7;
  width: 150px;
  text-align: center;
}

.btn-megazine {
  position: relative;
  bottom: 51px;
}

.magazine-title {
  width: 300px;
  margin: 0 auto;
}

.editor-p {
  width: 100px;
  background-color: whitesmoke;
  opacity: 0.8;
  text-align: center;
  font-size: 15px;
  position: relative;
  bottom: 34px;
}

.tech-p {
  width: 150px;
}

.editor-header {
  position: relative;
  bottom: 40px;
}

.editor-title {
  width: 300px;
  margin: 0 auto;
}

.subscribe {
  background-color: whitesmoke;
}

.subscribe-p {
  width: 400px;
  margin: 0 auto;
  position: relative;
  right: 90px;
}

.newsletter {
  background-color: whitesmoke;
}

.jumb-img {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 500px;
}

.jumb-img-lg {
  overflow-y: hidden;
  overflow-x: hidden;
}

.jumb-img1 {
  position: relative;
  right: 95px;
  top: 15px;
}

.jumb-img2 {
  position: relative;
  right: 95px;
  top: 15px;
}

.jumb-news {
  height: 290px;
}

.subscribe-p-mob {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 50px;
  color: black;
}

.subscribe-p-mob2 {
  width: 65%;
  margin: 0 auto 20px;
  font-weight: lighter;
}

.jb-title {
  font-size: 18px;
  color: black;
}

.news-title {
  text-align: center;
  width: 90%;
  margin: 20px auto 20px;
}
